@import "./src/common/styles/sass/variables";

.myWorksBlock {
   background-color: $BackgroundColor;

   padding: 100px 0 150px;
    .myWoksContainer {
    justify-content: flex-start;
    flex-direction: column;

    padding-top: 20px;
    padding-bottom: 36px;
    }
    .title {

        position: relative;
        right: 270px;

        font-size: 29px;
        letter-spacing: 0;
        color: #222222;
        line-height: 30px;

        margin-bottom: 50px;
        padding-bottom: 16px;

        background-color: $BackgroundColor;
        @media screen and (max-width: 910px) {
            right: 150px;
        }
        @media screen and (max-width: 654px) {
            right: 0;
        }
    }
    .title:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        height: calc(100% - 40px);
        width: 55px;
        background-color: #202020;
        @media screen and (max-width: 654px) {
            left: 30%;
        }
    }
    .title:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 2px;
        height: 1px;

        width: 255px;
        transition: all 0.4s ease 0s;
        background-color: #202020;
        @media screen and (max-width: 654px) {
            opacity: 0;
        }
    }
    .container {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        @media screen and (max-width: 654px) {
            justify-content: center;
        }
    }
}
