@import "./src/common/styles/sass/variables";

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    height: 88px;
    background-color: $BackgroundThirdColor;

    z-index: 100;
}