.contactBox {
    padding: 100px 0 150px;
    background-color: #f6f6f6;
    box-shadow: 0 0 25px 20px #fafafa;
    .contactContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        .title {
            position: relative;

            margin-bottom: 50px;
            padding-bottom: 16px;

            font-size: 29px;
            letter-spacing: 0;
            color: #222222;
            line-height: 30px;

        }
        .title:before {
            position: absolute;
            content: '';
            left: 31px;
            bottom: 0;

            height: calc(100% - 40px);
            width: 55px;

            background-color: #202020;
        }
        .form {
            display: flex;
            flex-direction: column;
            width: 360px;
            @media screen and (max-width: 430px) {
                width: 200px;
            }

            .nameForm {
                height: 34px;
                width: 100%;
                margin-bottom: 20px;

                letter-spacing: 0;
                font-size: 13px;

                border: none;
                border-bottom: 1px solid #dddddd;
                background: #fff;

                outline: none;
            }
            .emailForm {
                height: 34px;
                width: 100%;
                margin-bottom: 20px;

                letter-spacing: 0;
                font-size: 13px;

                background: #fff;
                border: none;
                border-bottom: 1px solid #dddddd;

                outline: none;
            }
            .textarea {
                width: 100%;
                height: 87px;
                margin-bottom: 20px;

                letter-spacing: 0;
                font-size: 13px;

                background: #fff;
                border: none;
                border-bottom: 1px solid #dddddd;

                overflow: auto;
                resize: vertical;
                outline: none;
            }
            .button {
                background: #222;
                color: #fff;
                border: none;
                text-transform: uppercase;
                font-size: 12px;
                padding: 9px 25px;
                font-weight: 400;
                cursor: pointer;
                outline: none;

                letter-spacing: 0;
            }
        }
    }
}








