.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 5px;
    padding-top: 20px;

    width: 250px;
    /*background-color: darkgray;*/
}

.title {

    padding-top: 15px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    color: #222222;
    margin-bottom: 15px;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: black;

    transform: rotate(45deg);

}

.description {
    color: #444;
}
