@import "./src/common/styles/sass/variables";

.navBurger {
  display: flex;
  margin: 0 40px;
  .navBurgerItems {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 0;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    transform: translate(0, -150px);
    background-color: #202020;
    transition: 0.8s linear;
    .link {
      position: relative;

      text-decoration: none;
      cursor: pointer;

      padding: 5px 5px;

      font-family: 'Oswald', sans-serif;;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;

      color: $colorTagA;
    }
    .link:hover {
      opacity: 0.4;
      transition: 0.3s linear;
    }
  }
  .show{
    transform: translate(0, 0);
  }

  .navBurgerBtn {
    position: relative;
    top: -10px;
    right: -10px;

    width: 30px;
    height: 30px;

    span {
      width: 30px;
      height: 2px;
      position: absolute;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      background-color: $colorTagA;
      transition: 0.3s linear;
    }

    span:nth-child(2) {
      top: calc(50% - 7px);
    }

    span:nth-child(3) {
      top: calc(50% + 7px);
    }
  }

  .active {
    span:nth-of-type(1) {
      display: none;
    }
    span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);
    }
    span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg);
    }
  }

  @media screen and (min-width: 430px) {
    display: none;
  }
}