@import "./src/common/styles/sass/variables";


.mainBlock {
    min-height: 100vh;
    background-color: #202020;
        .text {
            font-family: 'Montserrat', sans-serif;
            width: 300px;
            h2 {
                text-shadow: 1px 2px 3px #696969;
                font-family: 'Montserrat', sans-serif;
                font-size: 55px;
                font-weight: 300;
                color: $BackgroundColor;
                text-transform: uppercase;
                letter-spacing: 0;
                line-height: 55px;

                margin-bottom: 10px;
            }

            h4 {
                font-size: 19px;
                font-weight: 300;
                color: $BackgroundColor;
                letter-spacing: 0;
                line-height: 41px;
                text-transform: uppercase;
            }
        }
        .photo {
            display: flex;
            margin-top: 40px;
            width: 300px;
            min-height: 400px;

            background-color: $BackgroundColor;
            overflow: hidden;
            //box-shadow: 0 0 5px 5px #303030;

            background-size: 300px;

            z-index: 1;
        }
        .particles {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
}




