.mainBlock {
    min-height: 100vh;
    background-color: #202020;
}

.text {
    font-family: 'Montserrat', sans-serif;
    width: 300px;
}
.text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0;
    line-height: 55px;
}
.text h4 {
    font-size: 19px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 41px;
    text-transform: uppercase;
}

.photo {
    display: flex;
    width: 300px;
    min-height: 400px;
    background-color: white;
    overflow: hidden;
}
.img {
  width: 100%;
}

