.footerBox {
    min-height: 50px;
}
.FooterContainer {
    flex-direction: column;
}
.title {
    background-color: #8dfa9a;
}
.linkContainer {
    display: flex;
    border: 1px solid;
}
.link {
    padding: 5px;
    text-decoration: none;
}
.credits {
    border: 1px solid;
}